*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: violet;
}

h1{
    font-size: 2rem; 
    font-weight: 700;
    color: rgb(255, 251, 30);
}

.txt{
    font-size: 1.2rem;
}


.container-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo-interacao{
    background-color: antiquewhite;
    width: 40%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    padding: 1rem;
    text-align: center; 
}

@media (max-width: 800px){
    .campo-interacao{
        width: 75%;
    }
}