* {
  margin: 0;
  background-color: black;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 31em;
}
